@{
    ViewData["Title"] = "Home Page";
}
@section LandingPage {
    <div style="position: relative">
    <div class="header-content">
        <p class="IndexBanner">Virtual tours of ETSU</p>

         <a asp-controller="Directions" asp-action="index" class="button-15">Start</a>
           
    </div>

    <div class="Parallax">

    </div>
        <div style=" min-height: 170px; background-color:gold;">   <!--Creating the ETSU style banner at the bottom of the page to hold the Home info-->
            <div style="min-height:160px; position: relative ;top: 5px; background-color:darkblue; ">
                <div class="Info">
                
                    <iframe title="homeInfo" id="Home" src="/Home Files/HomeText.html" width="100%" height="100%"  ></iframe> <!--Importing HTML file to display Home info-->

                        <script>
                        var frame = document.getElementById('Home');
                            frame.onload = function(){
                                var body = frame.contentWindow.document.querySelector('body');
                                body.style.color = 'white';                 //This code is styling the imported HTML file.
                                body.style.fontSize = '110%';
                                body.style.font= 'Arial';
                            };
                        </script>
                
                </div>
            </div>
        </div>

           
    
    
</div>
}

