@{
    ViewData["Title"] = "Home Page";
}
@section LandingPage {
    <div style="position: relative">
    <img src="images/etsu.jpg" style=" width: 100%;"/>
    <div class="header-content">
        <p class="IndexBanner">Virtual tours of ETSU</p>
        <button class="button-15">Start</button>   
    </div>
</div>
}

