@using BucView.Models
@model BucView.Models.Building
@{
    ViewData["Title"] = "Tour";
    var image = "/Images/" + ViewData["Building"] + ".jpg";
}

<img src="@image" style="display:block; margin-left:auto; margin-right:auto; width:50%;" />
<p style="text-align:center">
    @Model.buildingInfo!.bio
</p>

<a class="btn btn-link" style="display:block; text-align:center" asp-controller="Directions" asp-action="Index" asp-route-id="@ViewData["Building"]">Next</a>
