@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Directions";
}

<h1>This is where the Directions from @ViewData["FromBuilding"] to @ViewData["ToBuilding"] will be loaded.</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer neque odio, sodales vel velit a, suscipit faucibus dolor. Curabitur vitae varius dui. Integer viverra erat a justo tempus, porta aliquet sapien pretium. Cras massa arcu, mattis vitae turpis luctus, faucibus commodo urna. Nulla hendrerit mi non ipsum convallis, eget vestibulum felis semper. Curabitur quis justo a erat feugiat dapibus et sed nisi. Donec ac orci at ipsum maximus bibendum venenatis sit amet orci. Fusce placerat ullamcorper dui, eu dignissim arcu venenatis at. Sed diam nulla, sagittis nec erat in, aliquam convallis augue. Sed sed velit quam. Nullam congue, tellus non imperdiet ornare, est nibh rhoncus ante, ut mollis diam sapien vel velit. Integer mattis augue odio, vel accumsan nunc luctus at. Curabitur volutpat elit sed aliquam aliquet. Sed egestas ac felis sed semper.
</p>

<a class="btn btn-link" asp-controller="Tour" asp-action="Index">Found It!</a>