@using BucView.Models
@model BucView.Models.Building
@{
    ViewData["Title"] = "Directions";
}
@{
    if (ViewData["FromBuilding"]!.Equals("N/A") && Model != null)
    {
        <h1>This tour begins at the @ViewData["ToBuilding"]</h1>
        <p>
            <i class="fa-solid fa-route"></i>
            @Model!.directionsTo
        </p>

        <input type="hidden" id="lat" value="@Model!.buildingInfo!.Lat" />
        <input type="hidden" id="long" value="@Model!.buildingInfo!.Long" />
        <div id="map"></div>
    }
    else if (Model == null)
    {
        <h1 style="text-align: center">End of tour</h1>
        <a class="btn btn-link" style="display:block; text-align:center" asp-controller="Home" asp-action="ResetCookie">Home</a>
    }
    else
    {
        <h1>Directions from @ViewData["FromBuilding"] to @ViewData["ToBuilding"]</h1>
        <p>
            @Model!.directionsTo
        </p>

        <input type="hidden" id="lat" value="@Model!.buildingInfo!.Lat" />
        <input type="hidden" id="long" value="@Model!.buildingInfo!.Long" />
        <div id="map"></div>
    }
    <a class="btn btn-link" style="display:block; text-align:center" asp-controller="Tour" asp-action="Index" asp-route-id="@ViewData["ToBuilding"]">Found It!</a>
}