html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Noto Serif Khojki', serif;
}

.navbar-brand {
    margin-left: 8px;
    padding-bottom: 6px;
    padding-top: 0px;
    padding-left: 12px;
    padding-right: 12px;
    border-top: solid 2px #FFC72C;
    border-bottom: solid 2px #FFC72C;
    color: #00053E !important;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.7rem;
    vertical-align: middle;
    display: inline-block;
}

.IndexBanner {
    font-size: 50px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 10%;
    width: 100%;
    font-weight: 400;
    color: white;
    text-shadow: 1px 1px 2px #00053e;
}


.button-15 {
    background-image: linear-gradient(#42A1EC, #0070C9);
    border: 1px solid #0077CC;
    border-radius: 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    direction: ltr;
    display: block;
    font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -.022em;
    line-height: 1.47059;
    min-width: 30px;
    overflow: visible;
    padding: 5px 30px;
    text-align: center;
    /*    vertical-align: baseline;*/
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    position: absolute;
    top: 200px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.button-15:disabled {
    cursor: default;
    opacity: .3;
}

.button-15:hover {
    background-image: linear-gradient(#51A9EE, #147BCD);
    border-color: #1482D0;
    text-decoration: none;
}

.button-15:active {
    background-image: linear-gradient(#3D94D9, #0067B9);
    border-color: #006DBC;
    outline: none;
}

.button-15:focus {
    box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
    outline: none;
}
a {
    text-decoration: none
}